.color {
    background-color:black;
}

.pig-latin {
    color:white;
    border-style:solid;
    border-width: 2px;
    border-color: teal;
}

.flex-direction {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.flex-item {
    align-self: center;
    background-color: teal;
    width: 80px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    color:black;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}